<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alienC1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{165,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,246}}</string>
                <key>sourceSize</key>
                <string>{165,246}</string>
            </dict>
            <key>alienC2.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,573},{165,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,255}}</string>
                <key>sourceSize</key>
                <string>{165,255}</string>
            </dict>
            <key>alienC3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{165,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,255}}</string>
                <key>sourceSize</key>
                <string>{165,255}</string>
            </dict>
            <key>alienC4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,315},{165,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,256}}</string>
                <key>sourceSize</key>
                <string>{165,256}</string>
            </dict>
            <key>alienC5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{165,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,255}}</string>
                <key>sourceSize</key>
                <string>{165,255}</string>
            </dict>
            <key>alienC6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,256}}</string>
                <key>sourceSize</key>
                <string>{166,256}</string>
            </dict>
            <key>alienC7.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,169},{144,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,203}}</string>
                <key>sourceSize</key>
                <string>{144,203}</string>
            </dict>
            <key>alienChit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{165,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,256}}</string>
                <key>sourceSize</key>
                <string>{165,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alienC.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8c770febd5bc774f88fb1bbacd73dfb:4d3b278fe8c263a816e1e7347c53cdfc:4f3613dc54c37ec2ff46866727d35cd0$</string>
            <key>textureFileName</key>
            <string>alienC.png</string>
        </dict>
    </dict>
</plist>
