<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alienB1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,168},{69,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,89}}</string>
                <key>sourceSize</key>
                <string>{69,89}</string>
            </dict>
            <key>alienB2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,73},{69,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,93}}</string>
                <key>sourceSize</key>
                <string>{69,93}</string>
            </dict>
            <key>alienB3.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{69,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,93}}</string>
                <key>sourceSize</key>
                <string>{69,93}</string>
            </dict>
            <key>alienB4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{69,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,95}}</string>
                <key>sourceSize</key>
                <string>{69,95}</string>
            </dict>
            <key>alienB5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{69,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,77}}</string>
                <key>sourceSize</key>
                <string>{69,77}</string>
            </dict>
            <key>alienBhit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,95}}</string>
                <key>sourceSize</key>
                <string>{69,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alienB.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0789712a87b70ea6c2ca74844fb55fc8:84feb0936fd104dd30465d204448535d:68d3b9dc49141e754c1254e3290ff1fd$</string>
            <key>textureFileName</key>
            <string>alienB.png</string>
        </dict>
    </dict>
</plist>
